-- Written by `stemma preview`: the program that builds the site of {{ name }}.
import Stemma.Site
import {{ name }}

def main (args : List String) : IO UInt32 :=
  Stemma.siteMain args
    {% if root_document %}(%doc {{ name }}){% else %}(Stemma.titlePage {{ title | tojson }}){% endif %}
    #[{% for m in documents %}{% if not loop.first %}, {% endif %}%doc {{ m }}{% endfor %}]
